[Desktop Entry]
Name=rssreader
Exec=ubuntu-html5-app-launcher $@ --www=www --inspector
Icon=html5-rssreader.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true

